/* Modern-Normalize Css Reset Start here */
:root {
    line-height: 1.5;
}
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
} 
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}   
img {
    display: block;
    max-inline-size: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
}
button{
    background: none;
    border: none; 
}
/* Css reset Ends here */


/* Main container */
.container{
    height: 100vh;
    background-color: rgba(207, 207, 207, 0.175);
    display: flex;
}

/* Sidebar styling Start here*/
.sidebar{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 40px;
    padding-left: 30px;
    padding-top: 30px;
}
.title{
    font-family: 'Didot', 'Bodoni', serif;
}
.title h1{
    font-size: 45px;
}
.title h3{
    color: rgb(142, 141, 141);
    font-size: 20px;
}
.belowTitle{
    display: flex;
    align-items: end;
    height: 100%;
    gap: 35px;
}
.label-steps-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.label{
    writing-mode: sideways-lr;
    color: rgb(142, 141, 141);
    font-size: 18px;
}
.steps{
    display: flex;
    flex-direction: column;
    color: rgb(142, 141, 141);
}
.firstNumber{
    color: rgb(6, 6, 6);
}
.line{
    width: 2px;
    height:85%;
    background-color: rgb(142, 141, 141);
}
.thick-line {
    margin-top: 30px;
    height: 130px;
    background-color: #333;
    width: 3px;
}
/* Sidebar styling ends here. */

/* Main right half of page container*/
.rightHalfContainer{
    height: 100%;
    width: 100%; 
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Header styling start here */
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    
}
.header button{
    font-size: large;
    font-weight: 500;
    height: 35px;
}
.header button:hover{
    background: rgba(52, 46, 46, 0.859);
    color: white;
    box-shadow: -4px 4px 0 rgba(201, 201, 201, 0.5);
    scale: 1.09;
    transition: 0.3s;
    border-radius: 8%;
}
/* Its the cLass which gets added to header buttons via js onClick. */
.active{
    background: rgba(52, 46, 46, 0.859);
    color: white;
    box-shadow: -4px 4px 0 rgba(201, 201, 201, 0.5);
    border-radius: 8%;
    scale: 1.09;
}
.category{
    display: flex;
    gap: 50px;
}
/* Header styling ends here */

/* Main container containing all forms */
.mainFormContainer{
    width: 80%;
    height: 65%;
    display: flex;
    margin-left: 100px;
}

/* Registraion form styling start here */
.registraionFormContainer{
    width: 100%;
    height: 100%;
    border-radius: 5% 0 0 5%;
    background-color: rgb(255, 255, 255);
}
.imageContainer{
    height: 100%;
    display: block;
}
.registraionFormContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5% 0 0 5%;
}
#registerForm{
    display: none;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
    padding-top: 30px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.formTitle, form{
    font-family: 'Poppins', sans-serif;
}
.formTitle h1{
    font-size: 55px;
    font-weight: 300;
}
.formTitle h3{
    color: rgb(142, 141, 141);
    font-size: 20px;
}
/* Line below the form titles */
.myline{
    border: 1px solid rgb(142, 141, 141);
    width: 90%;
    margin-top: 3px;
    margin-bottom: 18px;
}

/* Some Global Form styling start here */
form input{
    display: block;
    border: none;
    background: transparent;
    outline: none;
    font-size: 20px;
    margin-bottom: 3px;
    width: 90%;
} 
form label{
    color: rgb(211, 142, 64);
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
/* Global Form styling ends here */

.gender{
    display: flex;
    color: rgb(211, 142, 64);
    gap: 25%;
    margin-bottom: 3%;
}
.gender-option{
    display: flex;
    gap: 5px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.loginButtons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.loginButtons button{
    font-size: 20px;
    background: rgb(52, 46, 46);
    color: rgb(179, 175, 175);
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    height: 45px;
    width: 250px;
    border-radius: 50px;
}
.loginButtons button:hover{
    background: rgba(13, 12, 12, 0.859);
    color: white;
    box-shadow: -4px 4px 0 rgba(201, 201, 201, 0.5);
    transform: scale(1.06);
    transition: 0.3s;
}
input[type="radio"] {
    accent-color: black;
}
/* Registraion form styling ends here */


/* Login form styling starts here */
.loginFormContainer{
    width: 100%;
    height: 100%;
}

.loginFormContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0 5% 5% 0;
}
.loginImage{
    display: none;
}
.myLoginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    word-spacing: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 5% 5% 0;
    padding-left: 50px;
    padding-top: 50px;

}
.password{
    width: 90%;
    color: rgb(211, 142, 64);
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
}
.password h1{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 180px;
}
.password h1:hover{
    transform: scale(1.15);
    border: 1px solid rgb(211, 142, 64);
    border-radius: 50px;
    transition: 0.3s;
}
.subscriptionBtn {
    width: 115px;
    height: 25px;
    transition: 0.3s;
    color: rgb(211, 142, 64);
    font-size: large;

}
.subscriptionBtn:hover{
    transform: scale(1.15);
    border: 1px solid rgb(211, 142, 64);
    border-radius: 50px;
}


.loginImage{
    display: none;
    height: 100%;
}

/* Footer styling start */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-size: 14px;
    color: #0a0909;
    background-color: transparent;
    margin-bottom: 8px;
}
.footer a {
    color: #0d0d0d;
    text-decoration: none;
    font-weight: 500;
}
.github-logo {
    width: 20px;
    height: 20px;
    transition: transform 0.4s ease;
}
.github-logo:hover {
    transform: rotate(360deg) scale(2);
}
/* Footer styling ends */


/* Below code adds a fade in/out effect when we first open the index.html file  */

/* Initially hide the body */
body {
    opacity: 0;
    transition: opacity 1s ease-in;
}  
/* When page is loaded */
body.loaded {
    opacity: 1;
}


/* Fade-in and fade-out animation  */
.fade-in {
    opacity: 1;
    transition: opacity 1.5s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease;
}

/* Hidden by default */
.hidden {
    display: none;
}
  
  /* Shown when active */
.visible-block {
    display: block;
}
  
.visible-flex {
    display: flex;
}
  